header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#logo {
    width: 100px;
    height: auto;
    margin-right: 900px;
}